.lead{
    padding-left: 50px;
    padding-right: 50px;
}
.featurette-heading{
    padding-left: 50px;
}
.bg-image{
  position:sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position:center;
  background-size:cover;
  opacity:0.5;
}